[Unit]
Description=SYBASE ASE
After=network.target

[Service]
ExecStart={{sap_ase_target}}/sybase_init start
Type=forking
PIDFile={{sap_ase_target}}/sybase.pid
ExecStop={{sap_ase_target}}/sybase_init stop

[Install]
WantedBy=multi-user.target
